@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  src: url("@fontsource/source-sans-pro/files/source-sans-pro-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  font-weight: 700;
  src: url("@fontsource/source-sans-pro/files/source-sans-pro-latin-700-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Mono";
  font-display: swap;
  src: url("@fontsource/roboto-mono/files/roboto-mono-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Mono";
  font-display: swap;
  font-style: italic;
  src: url("@fontsource/roboto-mono/files/roboto-mono-latin-400-italic.woff2") format("woff2");
}
