*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4.5vmin;
  line-height: 1.4;
  color: rgb(var(--color-text));
}

img {
  max-width: 100%;
  height: auto;
}
