*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 5vmin;
  line-height: 1.4;
  color: rgb(var(--color-text));
}

pre, code {
  font-family: 'Source Code Pro', monospace;
}

p {
  margin: 0 0 var(--vertical-space);
}

a {
  color: rgb(var(--color-light));
  text-decoration: none;
}

button {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a:focus,
button:focus {
  outline: 0.1em solid rgba(var(--color-dark), 0.5);
  outline-offset: 0.1em;
}

img {
  max-width: 100%;
  height: auto;
}
