*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 5vmin;
  line-height: 1.4;
  color: #000;
}

pre, code {
  font-family: 'Source Code Pro', monospace;
}

p {
  margin: 0 0 1em;
}

a {
  color: #42b883;
}

button {
  cursor: pointer;
}

a:focus,
button:focus {
  outline: 0.1em solid rgba(53, 73, 94, 0.5);
  outline-offset: 0.1em;
}
