h1, h2 {
  line-height: 1;
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;

  font-size: 8vmin;
}

h1 small {
  font-size: 0.6em;
  opacity: 0.5;
}

h2 {
  margin: 1em 0 0.5em;

  font-size: 6vmin;
}

ul, ol {
  margin: 0 0 var(--vertical-space);
  padding-left: 1em;
}

li {
  margin-bottom: 0.5em;
  padding-left: 0.5em;
}

abbr {
  text-decoration: none;
}

.center {
  text-align: center;
}
