h1, h2 {
  line-height: 1;
}

h1 {
  margin: 0;

  font-size: 8vmin;
}

h2 {
  margin: 1em 0 0.5em;

  font-size: 6vmin;
}

ul, ol {
  margin: 0 0 var(--vertical-space);
  padding-left: 1em;
}

li {
  margin-bottom: 0.5em;
  padding-left: 0.5em;
}
